
## VAASDEMO
export EXPORT_FORMAT='parquet'
export DB_USERNAME='dbadmin'
export DB_PASSWORD='Alabama7878!'
export DB_DATABASE='vaasdemo'
export DB_HOST='35.166.171.38'
export DB_PORT='5433'
export DB_CLUSTER='vertica-qa-krdz19ca4oe7'

export S3_BUCKET='s3://demo-data.full360.com'
export BUCKET_KEY='vaasdemo'

## TEVA PROD
# export EXPORT_FORMAT='parquet'
# export DB_USERNAME='dbadmin'
# export DB_PASSWORD='360teva360'
# export DB_DATABASE='teva'
# export DB_HOST='10.5.10.23'
# export DB_PORT='5433'
# export DB_CLUSTER='vertica-qa-krdz19ca4oe7'

# export S3_BUCKET='s3://demo-data.full360.com'
# export BUCKET_KEY='tevaPROD'

# # TEVA QA
# export EXPORT_FORMAT='parquet'
# export DB_USERNAME='dbadmin'
# export DB_PASSWORD='360teva360'
# export DB_DATABASE='teva'
# export DB_HOST='10.5.10.147'
# export DB_PORT='5433'
# export DB_CLUSTER='vertica-qa-krdz19ca4oe7'

# export S3_BUCKET='s3://demo-data.full360.com'
# export BUCKET_KEY='tevaQA'