## f360 south
# echo 'full360 south profile'
# git config --global user.email michael.bowen@full360.com
# git config --global user.signingkey 94360934
# export BISCUIT_FILENAME='/Users/mbowen/full360-secrets.yml'
# export AWS_PROFILE=full360s

echo 'vertica six-account profile'
git config --global user.email michael.bowen@full360.com
git config --global user.signingkey 94360934
export BISCUIT_FILENAME='/Users/mbowen/full360-secrets.yml'
export AWS_PROFILE=six-account


## VAASDEMO (source)
export SRC_EXPORT_FORMAT='parquet'
export SRC_DB_USERNAME='dbadmin'
export SRC_DB_PASSWORD='Alabama7878!'
export SRC_DB_DATABASE='vaasdemo'
export SRC_DB_HOST='35.166.171.38'
export SRC_DB_PORT='5433'
export SRC_DB_CLUSTER='vertica-qa-krdz19ca4oe7'

export SRC_S3_BUCKET='s3://vertica-mbowen-us-west-2-migrator'
export SRC_BUCKET_KEY='vaasdemo'

## VAAS2 (target)
export TARGET_EXPORT_FORMAT='parquet'
export TARGET_DB_USERNAME='dbadmin'
export TARGET_DB_PASSWORD='Alabama7878!'
export TARGET_DB_DATABASE='vaas2'
export TARGET_DB_HOST='52.33.47.21'
export TARGET_DB_PORT='5433'
export TARGET_DB_CLUSTER='vertica-qa-krdz19ca4oe7'
export TARGET_S3_BUCKET='s3://vertica-mbowen-us-west-2-migrator'
export TARGET_BUCKET_KEY='vaas2_target'


## TEVA NEW PROD
# export TARGET_EXPORT_FORMAT='parquet'
# export TARGET_DB_USERNAME='dbadmin'
# export TARGET_DB_PASSWORD='360teva360'
# export TARGET_DB_DATABASE='teva'
# export TARGET_DB_HOST='10.5.10.23'
# export TARGET_DB_PORT='5433'
# export TARGET_DB_CLUSTER='vertica-qa-krdz19ca4oe7'

# export TARGET_S3_BUCKET='s3://teva-export-buckt'
# export TARGET_BUCKET_KEY='tevaPROD'

# TEVA QA
# export SRC_EXPORT_FORMAT='parquet'
# export SRC_DB_USERNAME='dbadmin'
# export SRC_DB_PASSWORD='360teva360'
# export SRC_DB_DATABASE='teva'
# export SRC_DB_HOST='10.5.10.15'
# export SRC_DB_PORT='5433'
# export SRC_DB_CLUSTER='vertica-qa-krdz19ca4oe7'

# export SRC_S3_BUCKET='s3://teva-export-buckt'
# export SRC_BUCKET_KEY='tevaQA12'

# # TEVA NEW QA
# export TARGET_EXPORT_FORMAT='parquet'
# export TARGET_DB_USERNAME='dbadmin'
# export TARGET_DB_PASSWORD='360teva360'
# export TARGET_DB_DATABASE='teva'
# export TARGET_DB_HOST='10.5.10.42'
# export TARGET_DB_PORT='5433'
# export TARGET_DB_CLUSTER='vertica-qa-krdz19ca4oe7'

# export TARGET_S3_BUCKET='s3://teva-export-buckt'
# export TARGET_BUCKET_KEY='tevaQA12'