# no spaces around (=)

# AWS Access Tokens
AWS_ACCESS_KEY_ID=ABCDEFGHIJKLMNOPQRSTUVWXYZ
AWS_SECRET_ACCESS_KEY=abcdefghijklmnopqrstuvwxyz1234567890
AWS_DEFAULT_REGION=us-east-1

# delimiters
SOH=`echo $'\001'`
STX=`echo $'\002'`

# staging env
BUCKET=my-staging-bucket
STAGE=_migration
TMPDIR=/tmp

# database connection
VSQL_HOME=${PWD}

# SOURCE database
SOURCE_VSQL_USER=skeswani
SOURCE_VSQL_HOST=10.0.0.10
SOURCE_VSQL_PASSWORD='password'

# TARGET database (accelerator)
TARGET_VSQL_USER=dbadmin
TARGET_VSQL_HOST=default.db.sumeet.fastestdb.com
TARGET_VSQL_PASSWORD='whatever'



